* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #e6eefb;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#app,
body,
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Barlow, Helvetica, Arial, sans-serif
}

#app {
    text-align: center;
    color: #fff
}

h1,
h2,
h3,
h4 {
    font-family: Playfair Display, serif;
    font-weight: 700
}

li,
p {
    font-family: Barlow, sans-serif
}

button[class*=add],
button[class*=remove],
input[type=button],
input[type=reset],
input[type=submit] {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

button[class*=add]::-moz-focus-inner,
button[class*=remove]::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

button[class*=add] {
    padding: 10px 30px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 1000px;
    cursor: pointer;
    background: #fff;
    color: #3e64ea;
    border: 1px solid #3e64ea;
    font-family: Barlow, sans-serif;
    text-transform: uppercase;
    margin: 10px;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out
}

button[class*=add]:hover {
    background: #3e64ea;
    color: #fff;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

button[class*=remove] {
    padding: 10px 30px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 1000px;
    cursor: pointer;
    background: #fff;
    color: rgb(226, 19, 19);
    border: 1px solid rgb(223, 66, 66);
    font-family: Barlow, sans-serif;
    text-transform: uppercase;
    margin: 10px;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out
}

button[class*=remove]:hover {
    background: rgb(223, 66, 66);
    color: #fff;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0
}

.capsule {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto
}

input[type=email] {
    line-height: 24px;
    font-family: Helvetica Neue;
    font-size: 16px;
    height: 24px;
    width: 100%;
    -webkit-font-smoothing: antialiased
}

input:-moz-placeholder,
input:-ms-input-placeholder,
input::-moz-placeholder,
input::-webkit-input-placeholder {
    color: #aab8c3
}

input:-moz-placeholder,
input:-ms-input-placeholder,
input::-moz-placeholder,
input::-webkit-input-placeholder,
input::placeholder {
    color: #aab8c3
}

aside {
    float: left;
    width: 19.1489%
}

.content {
    float: right;
    width: 79.7872%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 0 !important
}

@supports (display:grid) {
    .capsule>* {
        width: auto;
        margin: 0
    }
}

.items-leave-active {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

.items-move {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.items-enter-active {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.items-enter,
.items-leave-to {
    opacity: 0;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.fade-leave-active {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

.fade-enter-active {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

input[type=range].slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 25px 0 5px
}

input[type=range].slider:focus {
    outline: none
}

input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 4.3px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 transparent, 0 0 0 hsla(0, 0%, 5%, 0);
    box-shadow: 0 0 0 transparent, 0 0 0 hsla(0, 0%, 5%, 0);
    background: #3e64ea;
    border-radius: 13.7px;
    border: 0 solid rgba(1, 1, 1, 0)
}

input[type=range].slider::-webkit-slider-thumb {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 62, 0), 0 0 0 rgba(0, 0, 88, 0);
    box-shadow: 0 0 0 rgba(0, 0, 62, 0), 0 0 0 rgba(0, 0, 88, 0);
    border: 1.9px solid #3e63ea;
    height: 17px;
    width: 17px;
    border-radius: 31px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.35px
}

input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #5576ed
}

input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 4.3px;
    cursor: pointer;
    box-shadow: 0 0 0 transparent, 0 0 0 hsla(0, 0%, 5%, 0);
    background: #3e64ea;
    border-radius: 13.7px;
    border: 0 solid rgba(1, 1, 1, 0)
}

input[type=range].slider::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 62, 0), 0 0 0 rgba(0, 0, 88, 0);
    border: 1.9px solid #3e63ea;
    height: 17px;
    width: 17px;
    border-radius: 31px;
    background: #fff;
    cursor: pointer
}

input[type=range].slider::-ms-track {
    width: 100%;
    height: 4.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent
}

input[type=range].slider::-ms-fill-lower {
    background: #2752e7
}

input[type=range].slider::-ms-fill-lower,
input[type=range].slider::-ms-fill-upper {
    border: 0 solid rgba(1, 1, 1, 0);
    border-radius: 27.4px;
    box-shadow: 0 0 0 transparent, 0 0 0 hsla(0, 0%, 5%, 0)
}

input[type=range].slider::-ms-fill-upper {
    background: #3e64ea
}

input[type=range].slider::-ms-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 62, 0), 0 0 0 rgba(0, 0, 88, 0);
    border: 1.9px solid #3e63ea;
    height: 17px;
    width: 17px;
    border-radius: 31px;
    background: #fff;
    cursor: pointer;
    height: 4.3px
}

input[type=range].slider:focus::-ms-fill-lower {
    background: #3e64ea
}

input[type=range].slider:focus::-ms-fill-upper {
    background: #5576ed
}

@media (max-width:600px) {
    aside {
        margin-bottom: 10px !important
    }

    .content,
    aside {
        width: 100% !important
    }

    .content {
        grid-template-columns: 1fr !important
    }

    nav li {
        padding: 0 10px !important
    }

    nav .capsule {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important
    }

    .cartitems {
        padding: 30px 0 !important
    }

    .cartitems,
    .payment {
        width: 350px !important
    }
}

@media (min-width:601px) and (max-width:900px) {
    .content {
        grid-template-columns: repeat(2, 1fr) !important
    }
}

.clear {
    clear: both
}

.wrapper {
    min-height: 100vh;
    margin-bottom: -60px
}

.footer,
.push {
    height: 50px;
    margin-top: 10px
}

/* .navarea {
    overflow: hidden
} */

nav .capsule {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

nav {
    width: 100vw;
    height: 60px;
    background: #fff
}

ul {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none outside none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

li {
    padding: 0 50px
}

ul a,
ul a:active,
ul a:visited {
    text-decoration: none;
    color: #000
}

aside {
    float: left;
    width: 19.1489%
}

.content {
    float: right;
    width: 79.7872%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 0 !important
}

@supports (display:grid) {
    .capsule>* {
        width: auto;
        margin: 0
    }
}

h1 {
    color: #fff;
    position: relative;
    z-index: 12;
    font-size: 60px;
    padding: 8px 80px
}

.bk {
    position: absolute;
    top: 0;
    left: 0
}

.ppl-banner {
    position: absolute;
    z-index: 10;
    right: 100px
}

.masthead {
    width: 100%;
    height: 100px;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px 0
}

.contain aside {
    background: #fff;
    float: left;
    padding: 20px
}

.sidearea {
    border-bottom: 1px solid #ccc
}

.sidearea:last-of-type {
    border: none
}

.callout {
    padding: 20px 0
}

.callout h4 {
    padding-bottom: 10px
}

.sidearea:first-of-type {
    padding-bottom: 40px
}

label {
    font-family: Playfair Display, serif;
    padding: 15px 0;
    text-align: center
}

span {
    font-family: Barlow, sans-serif
}

.max {
    font-size: 12px;
    float: right;
    color: #565656
}

.min {
    float: left;
    font-size: 12px;
    color: #565656
}

h4 {
    margin: 20px 0
}

.can-toggle {
    position: relative
}

.can-toggle,
.can-toggle :after,
.can-toggle :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.can-toggle input[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0
}

.can-toggle input[type=checkbox][disabled]~label {
    pointer-events: none
}

.can-toggle input[type=checkbox][disabled]~label .can-toggle__switch {
    opacity: .4
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch:before {
    content: attr(data-unchecked);
    left: 0
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch:after {
    content: attr(data-checked)
}

.can-toggle label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.can-toggle label .can-toggle__label-text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 32px
}

.can-toggle label .can-toggle__switch {
    position: relative
}

.can-toggle label .can-toggle__switch:before {
    content: attr(data-checked);
    position: absolute;
    top: 0;
    text-transform: uppercase;
    text-align: center
}

.can-toggle label .can-toggle__switch:after {
    content: attr(data-unchecked);
    position: absolute;
    z-index: 5;
    text-transform: uppercase;
    text-align: center;
    background: #fff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.can-toggle.demo-rebrand-2 {
    cursor: pointer
}

.can-toggle.demo-rebrand-2 input[type=checkbox][disabled]~label {
    color: hsla(0, 0%, 53%, .5)
}

.can-toggle.demo-rebrand-2 input[type=checkbox]:focus~label .can-toggle__switch,
.can-toggle.demo-rebrand-2 input[type=checkbox]:hover~label .can-toggle__switch {
    background-color: #888
}

.can-toggle.demo-rebrand-2 input[type=checkbox]:focus~label .can-toggle__switch:after,
.can-toggle.demo-rebrand-2 input[type=checkbox]:hover~label .can-toggle__switch:after {
    color: #6f6f6f
}

.can-toggle.demo-rebrand-2 input[type=checkbox]:hover~label {
    color: #7b7b7b
}

.can-toggle.demo-rebrand-2 input[type=checkbox]:checked~label:hover {
    color: #3059e8
}

.can-toggle.demo-rebrand-2 input[type=checkbox]:checked~label .can-toggle__switch {
    background-color: #5576ed
}

.can-toggle.demo-rebrand-2 input[type=checkbox]:checked~label .can-toggle__switch:after {
    color: #2752e7
}

.can-toggle.demo-rebrand-2 input[type=checkbox]:checked:focus~label .can-toggle__switch,
.can-toggle.demo-rebrand-2 input[type=checkbox]:checked:hover~label .can-toggle__switch {
    background-color: #3e64ea
}

.can-toggle.demo-rebrand-2 input[type=checkbox]:checked:focus~label .can-toggle__switch:after,
.can-toggle.demo-rebrand-2 input[type=checkbox]:checked:hover~label .can-toggle__switch:after {
    color: #1844dd
}

.can-toggle.demo-rebrand-2 label {
    font-family: Barlow, sans-serif;
    cursor: pointer
}

.can-toggle.demo-rebrand-2 label .can-toggle__switch {
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    background: #959595
}

.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
    color: hsla(0, 0%, 100%, .7)
}

.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    color: #888
}

.can-toggle.demo-rebrand-2 input[type=checkbox]:focus~label .can-toggle__switch:after,
.can-toggle.demo-rebrand-2 input[type=checkbox]:hover~label .can-toggle__switch:after {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.can-toggle.demo-rebrand-2 input[type=checkbox]:checked~label .can-toggle__switch:after {
    -webkit-transform: translate3d(27px, 0, 0);
    transform: translate3d(27px, 0, 0)
}

.can-toggle.demo-rebrand-2 input[type=checkbox]:checked:focus~label .can-toggle__switch:after,
.can-toggle.demo-rebrand-2 input[type=checkbox]:checked:hover~label .can-toggle__switch:after {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.can-toggle.demo-rebrand-2 label {
    font-size: 0
}

.can-toggle.demo-rebrand-2 label .can-toggle__switch {
    height: 30px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    border-radius: 22px
}

.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
    left: 22px;
    font-size: 9px;
    line-height: 30px;
    width: 30px;
    padding: 0 12px
}

.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
    top: 3px;
    left: 3px;
    border-radius: 11px;
    width: 27px;
    line-height: 24px;
    font-size: 9px
}

.can-toggle.demo-rebrand-2 label .can-toggle__switch:hover:after {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.sidearea {
    padding-bottom: 30px
}

.item {
    border-radius: 5px;
    padding: 20px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative
}

.salepill {
    background: #e82319;
    color: #fff;
    font-family: Barlow, sans-serif;
    position: absolute;
    right: 30px;
    top: 60px;
    padding: 2px 10px 4px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    border-radius: 1000px
}

p {
    font-size: 18px
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    background: #000;
    color: #fff;
    text-align: center;
    letter-spacing: .03em;
    margin-top: 10px;
    width: 100%;
    height: 50px;
}

footer a,
footer a:active,
footer a:visited {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

/* The dropdown container */
.cart-dropdown {
    float: right;
    overflow: hidden;
}

.cartcount {
    font-family: Barlow, sans-serif;
    position: absolute;
    background: #f21;
    color: #fff;
    text-align: center;
    padding-top: 4px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    margin: -5px 0 0 20px;
    border-radius: 1000px;
    font-weight: 700
}

.shopping-cart {
    width: 750px;
    height: auto;
    /* margin: 80px auto; */
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.cart-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* width: 100%; */
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

/* Add a red background color to navbar links on hover */
.cart-dropdown .cart-icon:hover {
    fill: red;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
}

/* Show the cart dropdown menu on hover */
.cart-dropdown:hover .cart-content {
    display: block;
}

.shopping-cart:hover {
    display: block;
}

.shopping-cart .header {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    margin: 5px;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
    align-items: center
}

.checkout {
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    font-size: 13px;
    font-weight: 600;
    background: transparent;
    float: right;
    border: 2px solid #e82319;
    color: #000000;
    border-radius: 1000px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .15s ease-out;
}

.checkout:hover {
    background-color: #e82319;
    color: white;
    transition: all .15s ease-in;
}

.cart-item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
}

.cart-item:nth-child(3) {
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}

.delete-btn,
.like-btn {
    display: inline-block;
    cursor: pointer;
}

.delete-btn {
    width: 18px;
    height: 17px;
    background: url('/delete-icn.svg') no-repeat center;
}

.like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url('/twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
}

.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: right;
    }
}

.image {
    margin-right: 50px;
}

.image img {
    width: 85px;
    height: 85px;
}

.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

.description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}

.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}

.quantity {
    padding-top: 20px;
    margin-right: 60px;
}

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.minus-btn img {
    margin-bottom: 3px;
}

.plus-btn img {
    margin-top: 2px;
}

button:focus,
input:focus {
    outline: 0;
}

.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image img {
        width: 50%;
    }

    .image,
    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }

    .buttons {
        margin-right: 20px;
    }
}
